In [1]:
import sqlite3 as sl
import pandas as pd

In [2]:
con = sl.connect('the_dash.db')

In [14]:
with con:
    con.execute("""
        CREATE TABLE TEAMS (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            Name TEXT,
            Team TEXT
        );
    """)

In [19]:
sql = 'INSERT INTO TEAMS (id, Name, Team) values(?, ?, ?)'
data = [
    (1, 'Alice', 'Gummies'),
    (2, 'Bob', 'Gummies'),
    (3, 'Chris', 'jup')
]

In [20]:
with con:
    con.executemany(sql, data)

In [25]:
with con:
    data = con.execute("SELECT * FROM TEAMS WHERE Team = 'Gummies'")
    for row in data:
        print(row)

(1, 'Alice', 'Gummies')
(2, 'Bob', 'Gummies')

In [26]:
df_teams = pd.DataFrame(columns=['Name','Team'])

In [28]:
df_teams.to_sql('TEAMSII', con)

In [29]:
df = pd.read_sql('''SELECT Name, Team 
					    FROM TEAMS
					''', con)

In [30]:
df

    Name     Team
0  Alice  Gummies
1    Bob  Gummies
2  Chris      jup

In [ ]:
with con:
    con.execute("""
        CREATE TABLE TEAMS (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            Name TEXT,
            Team TEXT
        );
    """)

In [38]:
df = pd.read_excel('https://github.com/michael-william/The_Dash/blob/master/teams.xlsx?raw=true')

In [39]:
df

Empty DataFrame
Columns: [Name, Team]
Index: []

In [43]:
df = df.append({'Name':'Mike','Team':'Gummies'},ignore_index=True)

In [44]:
df

   Name     Team
0  Mike  Gummies

In [69]:
from typing import TypeVar
import dataclasses
import random

import streamlit as st

In [74]:
team_df = pd.read_excel('https://github.com/michael-william/The_Dash/blob/master/resources/teams.xlsx?raw=true')
dashes = pd.read_excel('https://github.com/michael-william/The_Dash/blob/master/resources/dashes.xlsx?raw=true')

In [100]:
dashes_list = dashes.Dash.to_list()

In [101]:
dashes_list

['Tesla the surfing queen', "Can't beat a Jayco", 'Where my gummies at?']

In [102]:
r_length = len(dashes_list)

In [103]:
def shuffle(x):
    new = x
    random.shuffle(new)
    return new

In [108]:
r1 = shuffle(dashes_list)

In [109]:
r1

['Where my gummies at?', 'Tesla the surfing queen', "Can't beat a Jayco"]

In [93]:
for i in range(r_length,1):
    print(i)

In [121]:
import time 
  
# define the countdown func. 
def countdown(t): 
    
    while t: 
        mins, secs = divmod(t, 60) 
        timer = '{:02d}:{:02d}'.format(mins, secs) 
        print(timer, end="\r") 
        time.sleep(1) 
        t -= 1
      
    print('Stop') 
  
  
# input time in seconds 
t = 60 
  
# function call 
countdown(int(t))

KeyboardInterrupt:

In [120]:
from pygame import mixer # Load the required library
import pygame

effect = pygame.mixer.Sound('beep.wav')
effect.play()

FileNotFoundError: No such file or directory.

In [154]:
teams = team_df[['Team','Name']].sort_values('Team').reset_index(drop=True)
gummies = team_df[team_df.Team=='Gummies']['Name'].reset_index(drop=True)
threemoney = team_df[team_df.Team=='Three Money']['Name'].reset_index(drop=True)

In [155]:
turn_order = []
unique_names = 4
for i in range(unique_names):
    turn_order.append(gummies.iloc[i])
    turn_order.append(threemoney.iloc[i])

In [156]:
turn_order

['Vicky', 'Mike', 'Ryan', 'Molly', 'Edge', 'Kay', 'John', 'Jess']

In [157]:
import xlrd

In [12]:
dashes = pd.read_csv('https://github.com/michael-william/The_Dash/blob/master/resources/The_Dash_Responses.csv?raw=true')

In [13]:
dashes.drop('Timestamp',axis=1,inplace=True)

In [14]:
dashes = dashes.stack().reset_index()
dashes.columns = ['index','question','answer']

In [15]:
dashes

   index question         answer
0      0   Dash 1  mike's test 1
1      0   Dash 2  mike's test 2
2      0   Dash 3  mike's test 3