In [1]:
import sqlite3 as sl
import pandas as pd

In [2]:
con = sl.connect('the_dash.db')

In [14]:
with con:
    con.execute("""
        CREATE TABLE TEAMS (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            Name TEXT,
            Team TEXT
        );
    """)

In [19]:
sql = 'INSERT INTO TEAMS (id, Name, Team) values(?, ?, ?)'
data = [
    (1, 'Alice', 'Gummies'),
    (2, 'Bob', 'Gummies'),
    (3, 'Chris', 'jup')
]

In [20]:
with con:
    con.executemany(sql, data)

In [25]:
with con:
    data = con.execute("SELECT * FROM TEAMS WHERE Team = 'Gummies'")
    for row in data:
        print(row)

(1, 'Alice', 'Gummies')
(2, 'Bob', 'Gummies')

In [26]:
df_teams = pd.DataFrame(columns=['Name','Team'])

In [28]:
df_teams.to_sql('TEAMSII', con)

In [29]:
df = pd.read_sql('''SELECT Name, Team 
					    FROM TEAMS
					''', con)

In [30]:
df

    Name     Team
0  Alice  Gummies
1    Bob  Gummies
2  Chris      jup

In [ ]:
with con:
    con.execute("""
        CREATE TABLE TEAMS (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            Name TEXT,
            Team TEXT
        );
    """)

In [38]:
df = pd.read_excel('https://github.com/michael-william/The_Dash/blob/master/teams.xlsx?raw=true')

In [39]:
df

Empty DataFrame
Columns: [Name, Team]
Index: []

In [43]:
df = df.append({'Name':'Mike','Team':'Gummies'},ignore_index=True)

In [44]:
df

   Name     Team
0  Mike  Gummies

In [45]:
from typing import TypeVar
import dataclasses

import streamlit as st

StateT = TypeVar('StateT')

def persistent_game_state(initial_state: StateT) -> StateT:
    session_id = st.report_thread.get_report_ctx().session_id
    session = st.server.server.Server.get_current()._get_session_info(session_id).session
    if not hasattr(session, '_gamestate'):
        setattr(session, '_gamestate', initial_state)
    return session._gamestate